# React
build/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local

# Spring Boot
target/
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
instamail-backend/src/main/java/com/example/instamail_backend/attachements
*.log
*.env

# IDEs and OS
*.iml
.idea/
.vscode/
*.DS_Store
*.tmp
*.swp
*.bak
*.swo